<header class="navbar navbar-expand-lg navbar-dark bg-gradient-orange">
  <div class="container">
    <%= link_to 'MUSCLEMASTER SNS', root_path, class: 'navbar-brand text-white' %>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
          <%= link_to 'タイムライン', posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>

        <% if current_user.is_admin? %>
          <li class="nav-item">
            <%= link_to '管理者ダッシュボード', admin_root_path, class: 'nav-link' %>
          </li>
        <% end %>
        
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= form_with url: destroy_user_session_path, method: :delete, class: 'm-0 p-0' do |f| %>
              <%= f.submit 'ログアウト', class: 'btn btn-link nav-link' %>
            <% end %>
          </li>
          
          <% else %>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'サインイン', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>